@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: conic-gradient(at 125% 50%, #b78cf7, #ff7c94, #ffcf0d, #ff7c94, #b78cf7);
}

.container {
    width: 90%;
    max-width: 600px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.calculator {
    border-radius: 5px;
    box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.5);
    background: #F5F5F5;
    max-width: 450px;
    width: inherit;
    height: min-content;
    padding: 20px 25px;
    font-family: 'Raleway', sans-serif;
}

.calculator hr {
    margin: 15px 0;
    border: none;
    border-bottom: 2px solid rgb(220, 220, 220);;
}

.calculator h3 {
    text-align: center;
}

/* Form */

.inner_form {
    display: flex;
    flex-direction: column;
}

.inner_form label {
    align-self: flex-start;
    font-size: 15px;
}

.input {
    display: flex;
    margin-bottom: 15px;
}

.input input {
    width: 90%;
    border-radius: 0 5px 5px 0;
    padding: 8px;
    border: 1px solid rgb(220, 220, 220);
} 

.input input:focus {
    outline: none;
}

.input button {
    width: 10%;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}

.input button:hover {
    background: rgb(230, 230, 230);
}

.select select {
    width: 100%;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid rgb(220, 220, 220);
}

.select select:focus {
    outline: none;
}

/* Button */

.btn {
    align-self: center;
    padding: 8px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: rgb(230, 230, 230);
}

/* Tip */

.tip {
    max-width: 300px;
    width: 50%;
    text-align: center;
    padding: 15px;
    color: #fff;
    background: rgb(8, 192, 8);
    font-family: 'Raleway', sans-serif;
    position: absolute;
    bottom: 0; 
    animation: fadein .5s ease, fadeout .5s ease 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
        bottom: 0px;
    }

    100% {
        opacity: 1;
        bottom: 30px;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
        bottom: 30px;
    }

    100% {
        opacity: 0;
        bottom: 0px;
    }
}

