@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body {
    font-family: 'Comfortaa', cursive;
}

.container {
    width: 95%;
    height: 100vh;;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hex-colors {
    text-align: center;
}

.hex-colors h1 {
    font-size: 2rem;
    text-transform: uppercase;
    animation: changecolor 3s ease infinite alternate;
}

.hex-colors h2 {
    font-size: 2rem;
    margin-top: 15%;
    animation: changecolor 3s ease infinite alternate;
}

button {
    font-size: 16px;
    border-radius: 5px;
    padding: 8px 12px;
    font-family: 'Comfortaa', cursive;
    border: none;
    transition: .2s;
}

button:hover {
    background: rgb(192, 192, 192);
    cursor: pointer;
}

@keyframes changecolor{
    0% {
        color: rgb(255, 255, 255);
    }
    20% {
        color: rgb(205, 205, 205);
    }
    40% {
        color: rgb(155, 155, 155);
    }
    60% {
        color: rgb(105, 105, 105);
    }
    80% {
        color: rgb(55, 55, 55);
    }
    100% {
        color: rgb(0, 0, 0);
    }
}

@media(max-width: 480px) {
    .hex-colors h1 {
        font-size: 1.5rem;
    }

    .hex-colors h2 {
        font-size: 1.5rem;
    }
}