@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: fixed url(bg.jpg) no-repeat;
    background-size: cover;
}

.container {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    padding: 20px 0;
    font-size: 12px;
}

.card {
    width: 400px;
    height: 370px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    transition: all .5s ease;
    cursor: pointer;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

.card:hover .image {
    filter: brightness(50%);
}

.image {
    width: 100%;
    height: auto;
    display: block;
    transition: all .5s ease;
}

.description {
    height: 100%;
}

.description h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}

.icon {
    position: absolute;
    font-size: 5em;
    top: 25%;
    left: 43%;
    color: red;
    opacity: 0;
    transition: all .5s ease;
}

.card:hover .icon {
    opacity: 1;
}

.description h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
    font-weight: 400;
    padding-bottom: 10px;
    padding: 0px 10px 10px 10px;
}

.card:hover {
    transform: scale(1.05);
}

@media(max-width: 768px) {
    .container {
        font-size: 10px;
    }

    .card {
        width: 95%;
        height: 100%;
    }
} 

@media(max-width: 480px) {
    .container {
        font-size: 8px;
    }
}